# Ignore vendor Folder.
vendor/

# Ignore bin Folder.
bin/

# Ignore the SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore other unneeded files.
*.swp
*~
.project
.DS_Store
.idea
.secret

